pre
{
  background-color: #757575;
  color: #EDA5FF;
  font-family: monospace,courier;
}
body
{
  background-color: #757575;
  color: #FFFFFF;
  font-family: monospace,courier;
}
.standout
{
  color: #F9FF66;
}

a:link
{
  color: #00CCFF;
}
