pre
{
  background-color: rgba(0,0,0,0.5);
  color: rgb(0,245,69);
  font-family: monospace,courier;
}
body
{
  background-color: #757575;
  color: #FFFFFF;
  font-family: monospace,courier;
  font-size:16px;
  max-width:870px;
}

.container
{
  margin:1em auto;
}

h1,
h2
{
  color: #F9FF66;
}

a:link,
a:visited
{
  color: #00CCFF;
}

.fig
{
    margin-top:15px;
    margin-bottom:15px;
}
