pre
{
  width: 798px;
  margin: 0px auto;
}
body
{
  background-color: rgb(51, 51, 51);
  color: rgb(238, 238, 238);
  font-family: monospace,courier;
  font-size:16px;
  overflow-x: hidden;
}

.container
{
  margin:1em auto;
  max-width:870px;
}

h1,
h2
{
  color: rgb(0, 238, 0);
  text-shadow: 0px 0px 10px rgb(119, 119, 119);
}

a:link,
a:visited
{
  color: rgb(98, 200, 255);
}

.fig
{
    margin-top:15px;
    margin-bottom:15px;
}

#fork {
  color: rgb(238, 238, 238);
  text-decoration: none;
  position: absolute;
  background: rgb(51, 119, 51);
  padding: 3px 30px;
  border: 3px dashed rgb(51, 102, 51);
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  right: -50px;
  top: 52px;
}

code
{
 background-color: black;
 border-color: #FFF;
 border-width: 1px;
 border-style: solid;
 margin-left: 10px;
 padding-left: 5px;
 padding-right: 5px;
 line-height: 1.7;
}

