pre
{
  background-color: rgba(0,0,0,0.5);
  color: rgb(0,245,69);
  font-family: monospace,courier;
}
body
{
  background-color: #757575;
  color: #FFFFFF;
  font-family: monospace,courier;
  font-size:16px;
}
.standout
{
  color: #F9FF66;
}

a:link
{
  color: #00CCFF;
}
